<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td 
        {
            border: solid 1px #ddd;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th { 
            font-weight:bold;
        }
    </style>
</head>
<body>
    <a href="artists"> Artists</a><br>
    <a href="topsongs"> Most Listened to Songs of Top Artists</a><br>
    <a href="topartists"> Artists with Most Albums Released</a><br>
    <!-- <a href="/advanced"> Advanced Queries</a><br> -->
    <a href="/insertartist"> Insert into Artists</a><br>
    <a href="/search_ID"> Search by ID</a><br>
    <a href="/search_name"> Search by Name</a><br>
    <a href="/delete"> Delete</a><br>
    <a href="/edit"> Update</a><br>
    <a href="/trending"> Trending Artists</a><br>
    <!-- <a href="/create"> Create</a><br> -->
</body>